body {
    background-color: aquamarine;
}

.site {
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
}

h1 {
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    color: #bbbbbb;
    margin: 20px;
}

.input-box {
    width: 360px;
    border: 2px solid #bbbbbb;
    border-radius: 3px;
}

#text-input {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    border: none;
    color: #bbbbbb;
}

button {
    box-sizing: border-box;
    width: 60px;
    height: 40px;
    margin: 0;
    font-size: 22px;
    color: whitesmoke;
    background-color: rgb(226, 108, 226);
}

ul {
    width: 360px;
    font-size: 22px;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
    color: #bbbbbb;
}